<!DOCTYPE html>

<html>

<head>
    <script>

    var initLatitude;
    var initLongitude;

    function submitting() {
      getLocation();
      return true;
    }

    function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(storePosition);
        } else {
          <!-- default position -->
          initLatitude = -34.397;
          initLongitude = 150.644;
          storeInForm();
        }
    };

    function storePosition(position) {
        initLatitude = position.coords.latitude;
        initLongitude = position.coords.longitude;
        storeInForm();
    };

    function storeInForm() {
	document.getElementById("longi").value = initLongitude;
	document.getElementById("lati").value = initLatitude;
    }

    </script>
</head>

<body>

  <form method="post" action="confirm.html" onsubmit="submitting();">

    <table>
      <tr>
	<td>Photo: </td>
	<td id="upload_cell"><input type="file" name="upload"></input></td>
      </tr>
      <tr>
	<td>Estimated radius of camera: </td>
	<td><input type="text" class="form_text" name="est_rad"><td>
      </tr>
      <tr>
	<td>Location String: </td>
	<td><input type="text" class="form_text" name="loc_string"><td>
      </tr>
      <tr>
	<td>Comment: </td>
	<td><input type="text" class="form_text" name="comm"></td>
      </tr>
      <tr>
	<td style="text-align:center"><input type="submit">
	</td>
      </tr>

    </table>

    <input type="hidden" name="lati" id="lati" />
    <input type="hidden" name="longi" id="longi" />

  </form>

</body>

</html>
