<!DOCTYPE html>

<html>

<head>
    <script>
    
    </script>
</head>

<body>

  <form method="post" action="/submit">
    
    <table>
      <tr>
	<td>Photo: </td>
	<td id="upload_cell"><input type="file" name="upload"></input></td>
      </tr>
      <tr>
	<td>Estimated radius of camera: </td>
	<td><input type="text" class="form_text" name="est_rad"><td>
      </tr>
      <tr>
	<td>Location String: </td>
	<td><input type="text" class="form_text" name="loc_string"><td>
      </tr>
      <tr>
	<td>Comment: </td>
	<td><input type="text" class="form_text" name="comm"></td>
      </tr>
      <tr>
	<td style="text-align:center"><input type="submit">
	</td>
      </tr>
    
    </table>
  
  </form>

</body>

</html>
