<!DOCTYPE html>

<html>

<head>
    <script>

        var initLatitude = 0;
        var initLongitude = 0;
    
        var flag = false;
    
        function getLocation() {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(storePosition);
            } else {
              <!-- default position -->
              storeInForm();
            }
            flag = true;
        };
    
        function storePosition(position) {
            initLatitude = position.coords.latitude;
            initLongitude = position.coords.longitude;
            storeInForm();
        };
    
        function storeInForm() {
    	document.getElementById("longi").value = initLongitude;
    	document.getElementById("lati").value = initLatitude;
        }
    
        function checkForLocation() {
            if (!flag) storeInForm();
        }
    
        window.onload = getLocation();

    </script>
</head>

<body>

  <form method="post" action="/submit" onsubmit="checkForLocation();">

    <table>
      <tr>
	<td>Photo: </td>
	<td id="upload_cell"><input type="file" name="upload"></input></td>
      </tr>
      <tr>
	<td>Estimated radius of camera: </td>
	<td><input type="text" class="form_text" name="est_rad"><td>
      </tr>
      <tr>
	<td>Location String: </td>
	<td><input type="text" class="form_text" name="loc_string"><td>
      </tr>
      <tr>
	<td>Comment: </td>
	<td><input type="text" class="form_text" name="comm"></td>
      </tr>
      <tr>
	<td style="text-align:center"><input type="submit">
	</td>
      </tr>

    </table>

    <input type="hidden" name="lati" id="lati" />
    <input type="hidden" name="longi" id="longi" />

  </form>

</body>

</html>
